<td class="form-group date">
    <input type="text" class="form-control" name="date" placeholder={{t 'date'}} />
</td>
<td class="form-group weight">
    <input type="text" class="form-control" name="weight" placeholder={{t 'weight'}} />
</td>